<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Donación de Peluches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <!-- Columna de Registro -->
        <div>
            <h2>Registro</h2>
            {% with messages = get_flashed_messages(category_filter=['registro']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error-text">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="/registro" method="POST">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" name="nombre">
                </div>
                <div class="form-group">
                    <label>Apellido:</label>
                    <input type="text" name="apellido">
                </div>
                <div class="form-group">
                    <label>E-mail:</label>
                    <input type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" name="password">
                </div>
                <div class="form-group">
                    <label>Conf. Contraseña:</label>
                    <input type="password" name="confirmar_password">
                </div>
                <button type="submit" class="btn">Registrar</button>
            </form>
        </div>

        <!-- Columna de Login -->
        <div>
            <h2>Inicio de Sesión</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error-text">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="/login" method="POST">
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" name="email">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password">
                </div>
                <button type="submit" class="btn">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
</html>