
* {
    box-sizing: border-box;
    font-family: Comic Sans MS, sans-serif, cursive;
}

body {
    margin: 0;
    padding: 20px;
    background-color: white;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.nav-bar h1, .nav-bar h2 {
    margin: 0;
}

.nav-links a, .btn {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #e0e0e0;
    border: 2px solid black;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-danger { 
    background-color: #ffcccc;
}
.btn-disabled { 
    background-color: #888888; 
    color: white; 
    cursor: not-allowed;
}

/* Contenedores y Formularios */
.container {
    background-color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-group label { 
    margin-bottom: 15px;
    font-weight: bold;
    width: 150px;
    margin-right: 10px;}

.form-group input, .form-group textarea {
    padding: 8px;
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 3px 1px 4px 2px;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Tablas y Listas */
.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.table-row p { margin: 0; }
.actions a, .actions form { display: inline-block; }

.card {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
}

.card p { margin: 10px 0; }